
@{
    ViewBag.Title = "TodoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>Profilim Sayfası</p>
<p>Tüm Başlıklarda Paging</p>
<p>Mesajlarda Session</p>
<p>Oturum Yönetiminin Mimariye Taşınması</p>
<p>Token Kullanımı</p>

