
@{
    ViewBag.Title = "TodoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p><del>Profilim Sayfası</del></p>
<p><del>Tüm Başlıklarda Paging</del></p>
<p><del>Mesajlarda Session</del></p>
<p><del>Oturum Yönetiminin Mimariye Taşınması</del></p>

