@{
    ViewBag.Title = "SweetAlert";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<button class="btn btn-primary" id="btn1">Button1</button>

<button class="btn btn-warning" id="btn2">Button2</button>

<button class="btn btn-danger" id="btn3">Button3</button>

<script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>

<script>
    $('#btn1').click(function () {
        swal("Merhaba MVC Proje Kampı!");
    })
</script>

<script>
    $('#btn2').click(function () {
        swal("Mvc Proje Kampı!", "...Ders 96!");
    })
</script>

<script>
    $('#btn3').click(function () {
        swal("Tebrikler!", "Başarılı bir şekilde eklendi!", "success");
    })
</script>

<script src="~/Scripts/jquery-3.4.1.js"></script>