@model EntityLayer.Concrete.Admin
@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Kayıt</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/logreg/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/logreg/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/logreg/css/style.css">
</head>
<body>
    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">

                    <div class="signup-image">
                        <figure><img src="~/AdminLTE-3.0.4/logreg/images/signup-image.jpg" alt="sing up image"></figure>
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title">Kayıt Ol</h2>
                        <form method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="AdminUserName" id="AdminUserName" placeholder="Kullanıcı Adınız!"  required/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="AdminPassword" id="AdminPassword" placeholder="Şifreniz!"  required/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Kayıt Olun!" />
                                <a href="/Home/HomePage/" class="form-submit" style="text-decoration:none; width:150px; text-align:center; background-color:red;">Siteye Dön!</a>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Burası'da Var!</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- JS -->
    <script src="~/AdminLTE-3.0.4/logreg/vendor/jquery/jquery.min.js"></script>
    <script src="~/AdminLTE-3.0.4/logreg/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>