
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h1>Yeni Kategori Ekleme Sayfası</h1>
<br />
<form method="post" class="form-group">
    <input type="text" placeholder="Kategori Adı" name="CategoryName" class="form-control" />
    <br />
    <input type="text" placeholder="Açıklama Giriniz" name="CategoryDescription" class="form-control" />
    <br />
    <button class="btn btn-success">Ekle</button>
</form>
