
@{
    Layout = null;
}

<h3>MVC Kamp Tablo Örneği</h3>
<br />
<table>
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Kategori Açıklama</th>
        <th>Kategori Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Eğitim kategorisidir.</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Spor kategorisidir.</td>
        <td>True</td>
    </tr>
</table>